<nav class="navbar navbar-expand-lg">
    <div class="container-fluid v2-navbar">
      <a class="navbar-brand" href="/feed">
        <div class="container logo"><img src="/images/fbf.png" alt="logo" height="180px"></div>
      </a>
    </div>
  </nav>
  