<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
    <h1>Test Page</h1>
    <p>User Name: <%= user.user_name %></p>
    <p>Username: <%= user.user_username %></p>
</body>
</html>